<style>
   *{
   font-family: 'Source Sans Pro', sans-serif;
   padding:0px;
   margin:0px;
   }
   .yellow-col{
   background-color:yellow;
   width:20px;
   height:20px;
   margin:0 auto;
   }
   .red-col{
   background-color:red;
   width:20px;
   height:20px;
   margin:0 auto;
   }
   .blue-col{
   background-color:blue;
   width:20px;
   height:20px;
   margin:0 auto;
   }
   .white-col{
   background-color:f5f5f5;
   width:20px;
   height:20px;
   margin:0 auto;
   }
</style>
<div  style="width:102.5mm;height:100%;text-align:center;">
<div style="display:flex;">
   <div class="sticker" style="width:50mm;height:50mm;background:#fff;overflow:hidden;position:relative;margin:3mm 0mm 0mm 3mm;border-radius:5px">
      <div style="">
         <div >
            <div style="padding:0px;margin-left:8mm;margin-top:1mm;font-size:16px;height:10mm">Seq.No.0042003 </span></div>
         </div>
         <div class="">
            <div>
               <img style="width:auto;height:30mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.95131500 1569592671.png" alt="gr" >
            </div>
            <div style="position:absolute;top:1mm;left:1mm" class="yellow-col"></div>
         </div>
         <div >
            <div style="padding:0px;margin:0px;font-size:16px">RAMMA110001DLBH02497</span></div>
         </div>
      </div>
   </div>
   <div class="sticker" style="width:50mm;height:50mm;background:#fff;overflow:hidden;position:relative;margin:3mm 3mm 0mm 0mm;border-radius:5px">
      <div style="">
         <div >
            <div style="padding:0px;margin-left:8mm;margin-top:1mm;font-size:16px;height:10mm">Seq.No.0042003 </span></div>
         </div>
         <div class="">
            <div>
               <img style="width:auto;height:30mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.95131500 1569592671.png" alt="gr" >
            </div>
            <div style="position:absolute;top:1mm;left:1mm" class="yellow-col"></div>
         </div>
         <div >
            <div style="padding:0px;margin:0px;font-size:16px">RAMMA110001DLBH02497</span></div>
         </div>
      </div>
   </div>
   </div>
   <div style="display:flex;">
   <div class="sticker" style="width:50mm;height:50mm;background:#fff;overflow:hidden;position:relative;margin:3mm 0mm 0mm 3mm;border-radius:5px">
      <div style="">
         <div >
            <div style="padding:0px;margin-left:8mm;margin-top:1mm;font-size:16px;height:10mm">Seq.No.0042003 </span></div>
         </div>
         <div class="">
            <div>
               <img style="width:auto;height:30mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.95131500 1569592671.png" alt="gr" >
            </div>
            <div style="position:absolute;top:1mm;left:1mm" class="yellow-col"></div>
         </div>
         <div >
            <div style="padding:0px;margin:0px;font-size:16px">RAMMA110001DLBH02497</span></div>
         </div>
      </div>
   </div>
   <div class="sticker" style="width:50mm;height:50mm;background:#fff;overflow:hidden;position:relative;margin:3mm 3mm 0mm 0mm;border-radius:5px">
      <div style="">
         <div >
            <div style="padding:0px;margin-left:8mm;margin-top:1mm;font-size:16px;height:10mm">Seq.No.0042003 </span></div>
         </div>
         <div class="">
            <div>
               <img style="width:auto;height:30mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.95131500 1569592671.png" alt="gr" >
            </div>
            <div style="position:absolute;top:1mm;left:1mm" class="yellow-col"></div>
         </div>
         <div >
            <div style="padding:0px;margin:0px;font-size:16px">RAMMA110001DLBH02497</span></div>
         </div>
      </div>
   </div>
   </div>
   
  
   
</div>