<style>
*{
	font-family: 'Source Sans Pro', sans-serif;
	padding:0px;
	margin:0px;
}
 .sticker{
	float:left;
	
}
.loop{
	margin:1mm;
	height:25mm;
}
</style>
<div  style="width:82mm;height:100%;text-align:center;">
		<div class="loop" >
		<div class="sticker" style="width:38mm;height:25mm;background:#fff;overflow:hidden;">
				<div style="padding-top:2mm;">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:10mm;padding:2px 0px;" src="https://miro.medium.com/max/912/1*4Ih4TPzCvcUtE-dwh3xI-Q.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
				</div>
		</div>
		<div class="sticker" style="width:38mm;height:25mm;background:#fff;overflow:hidden;">
				<div style="padding-top:2mm;">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:10mm;padding:2px 0px;" src="https://miro.medium.com/max/912/1*4Ih4TPzCvcUtE-dwh3xI-Q.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
				</div>
		</div>
		</div>
		<div class="loop" >
		<div class="sticker" style="width:38mm;height:25mm;background:#fff;overflow:hidden;">
				<div style="padding-top:2mm;">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:10mm;padding:2px 0px;" src="https://miro.medium.com/max/912/1*4Ih4TPzCvcUtE-dwh3xI-Q.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
				</div>
		</div>
		<div class="sticker" style="width:38mm;height:25mm;background:#fff;overflow:hidden;">
				<div style="padding-top:2mm;">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:10mm;padding:2px 0px;" src="https://miro.medium.com/max/912/1*4Ih4TPzCvcUtE-dwh3xI-Q.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
				</div>
		</div>
		</div>
		<div class="loop" >
		<div class="sticker" style="width:38mm;height:25mm;background:#fff;overflow:hidden;">
				<div style="padding-top:2mm;">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:10mm;padding:2px 0px;" src="https://miro.medium.com/max/912/1*4Ih4TPzCvcUtE-dwh3xI-Q.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
				</div>
		</div>
		<div class="sticker" style="width:38mm;height:25mm;background:#fff;overflow:hidden;">
				<div style="padding-top:2mm;">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:10mm;padding:2px 0px;" src="https://miro.medium.com/max/912/1*4Ih4TPzCvcUtE-dwh3xI-Q.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
				</div>
		</div>
		</div>
		
		
		
		
		
		
		
</div>
				
							</tbody>
						</table>
					</div>
				</div>
				</div>
		</div>
		</div>
		
		
		
		
		
		
		
</div>
