<style>
*{
	font-family: 'Source Sans Pro', sans-serif;
}
.loop > .sticker{
	float:left;
	margin:1.1mm;
}
</style>
<div  style="width:210mm;height:297mm;text-align:center;border:1px solid #ddd;">
		<div class="loop" style="margin:0 7.8mm;margin-top:22mm">
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		</div>
		<div class="loop" style="margin:0 7.8mm;">
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		</div>
		<div class="loop" style="margin:0 7.8mm;">
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		</div>
		<div class="loop" style="margin:0 7.8mm;">
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		</div>
		<div class="loop" style="margin:0 7.8mm;">
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		</div>
		<div class="loop" style="margin:0 7.8mm;">
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		</div>
		<div class="loop" style="margin:0 7.8mm;">
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		</div>
		<div class="loop" style="margin:0 7.8mm;">
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		</div>
		<div class="loop" style="margin:0 7.8mm;">
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		</div>
		<div class="loop" style="margin:0 7.8mm;">
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		</div>
		<div class="loop" style="margin:0 7.8mm;">
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		</div>
		<div class="loop" style="margin:0 7.8mm;">
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		<div class="sticker" style="width:45.7mm;20mm;background:#fff;border:1px solid #ddd;overflow:hidden">
				<div >
					<h3 style="padding:0px;margin:0px;font-size:10px">Bio-medical waste barcode</h3>
				
				</div>
				<div class="">
					<div>
						<table style="width:100%;padding:0px 5px;font-size:9px;" align="center">
							<tbody>
								<tr>
									<td rowspan="4"><img style="width:auto;height:13mm;padding:2px 0px;" src="http://localhost/medspace/assets/hospital_waste_barcodes/0.51217000 1555482807.png" alt="Barcode" ></td>
									<td style="">Category</td>
									<td ><span>Yellow</span>bag</td>
								</tr>
								<tr>
									<td>HCF</td>
									<td><span>xxxxx</span>clinic</td>
								</tr>
								<tr>
									<td>CBWTF</td>
									<td style="line-height:10px;">xxxx Tech Pvt.Ltd</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</div>
		</div>
		
		
		
		
		
</div>
