<!DOCTYPE html>
<html>
<head>
<style>
table, td, th {
  border: 1px solid black;
  padding:5px;
  font-size:10px
}

table {
  border-collapse: collapse;
  width: 100%;
}
*{
	padding:0;
	margin:0;
}
p{
margin:2px
}

</style>
</head>
<body>

<h2 style="text-align:center;margin:5px 0px">Tax Invoice</h2>

<table>
  <tr >
    <td rowspan="3" width="50%">
		<h5>SUPRIYA PACKERS-UNIT-II</h5>
		<p>UINT-II Plot No 289, Sompura Industrial Estate Nidavanda, Dabaspet, Nelamangala Taluk Bangalore Rural, Karnataka - 562132 GSTIN/UIN: 29ABSPV7798R1ZO State Name : Karnataka, Code : 29 E-Mail : supriya.packers@gmail.com		</p>
	</td>
    <td>
		<div>Invoice No: </div>
		<div>e-Way Bill No: </div>
	</td>
    <td>Dated : 05-12-2019</td>
  
  </tr> 
  <tr >
  
    <td>
		<div>Delivery Note </div>
		
	</td>
    <td>
		<div>Mode/Terms of Payment</div>
		<div>NEFT</div>
	
	</td>
  </tr>  
  <tr >
  
    <td>
		<div>Supplier’s Ref</div>
		
	</td>
    <td>
		<div>Other Reference(s)</div>
	
	</td>
  </tr>
<tr >
    <td rowspan="5" width="50%">
		<h5>Buyer
MEDICAL WASTE SOLUTIONS</h5>
		<p>1.5.55, 2nd Floor Balaji Colony Tirupati -517501 GSTIN/UIN	: 37AGGPY4909E1Z2
State Name	: Andhra Pradesh, Code : 37
</p>
	</td>
    <td>
		<div>Buyer’s Order No: </div>
		
	</td>
    <td>Dated : 05-12-2019</td>
  
  </tr>
    <tr>
  
    <td>
		<div>Despatch Document No</div>
		
	</td>
		<td>Dated : 05-12-2019</td>
	
  </tr>   
  <tr>  
    <td>
		<div>Despatch Document through</div>
		<div>NAVATA ROAD TRANSPORT</div>
		
	</td>
		<td>
				<div>Destination</div>
					<div>TIRUPATI</div>
		</td>
	
  </tr>  
  <tr>  
    <td>
		<div>Bill of Lading/LR-RR No</div>
		<div>xxxxxxxx</div>
		
	</td>
   
		<td>
				<div>Motor Vehicle No</div>
					<div>KA04A6333</div>
		</td>
	
	
  </tr> 
  <tr>  
		<td colspan="2">
				<div>Terms of Delivery</div>
					
		</td>
  </tr>
</table>
<table>
  <tr >
	<th>Sl No</th>
	<th>Description of Goods</th>
	<th>HSN/SAC</th>
	<th>Quantity</th>
	<th>Rate</th>
	<th>per</th>
	<th>Disc. %</th>
	<th>Amount</th>
  <tr>
  <tr>
	<td>1</td>
	<td>RED 32X32 </td>
	<td>xxx</td>
	<td>775.00 kgs</td>
	<td>86.50</td>
	<td>kgs </td>
	<td>xxx </td>
	<td>67,037.50 </td>
  </tr>
    <tr>
	<td>2</td>
	<td>RED 32X32 </td>
	<td>xxx</td>
	<td>775.00 kgs</td>
	<td>86.50</td>
	<td>kgs </td>
	<td>xxx </td>
	<td>67,037.50 </td>
  </tr>
    <tr>
	<td>3</td>
	<td>RED 32X32 </td>
	<td>xxx</td>
	<td>775.00 kgs</td>
	<td>86.50</td>
	<td>kgs </td>
	<td>xxx </td>
	<td>67,037.50 </td>
  </tr> 
  <tr>

	<td colspan="8" style="text-align:right"><span >67,037.50 </span></td>
  </tr>
     <tr>
	<th>&nbsp;</th>
	<th>Total</th>
	<td>&nbsp;</td>
	<th>2,300.00 kgs </th>
	<td>&nbsp; </td>
	<td>&nbsp; </td>
	<td>&nbsp; </td>
	<th>67,037.50 </th>
  </tr>
<tr>
	<td colspan="8"><strong>Amount Chargeable (in words)INR</strong>: Two Lakh Thirty Four Thousand Seven Hundred Sixty One Only
</td>
</tr>  
</table>
<table>
	<tr>
		<th rowspan="2">HSN/SAC</th>
		<th rowspan="2">Taxable Value</th>
		<th colspan="2">Integrated Tax</th>
		<th rowspan="2">Total Tax Amount</th>
	</tr>
	<tr>
		<td>Rate</td>
		<td>Amout</td>
		
	</tr>	
	<tr>
		<td>xxx</td>
		<td>25,0000</td>
		<td>25</td>
		<td>25</td>
		<td>250025</td>
		
	</tr>
	<tr>
		<th>Total</th>
		<th>25,0000</th>
		<th>25</th>
		<th>25</th>
		<th>250025</th>
		
	</tr>
	<tr>
		<td colspan="5" ><strong>Amount Chargeable (in words)INR:</strong> Two Lakh Thirty Four Thousand Seven Hundred Sixty One Only
</td>
	</tr>
</table>
<table>
	<tr>
		<th colspan="4" style="text-algin:center"> Company’s Bank Details</th>
	</tr>
	<tr>
		<th>Bank Name</th>
		<th>AC no</th>
		<th>IFSC no</th>
		<th>Branch</th>
	</tr>
	<tr>
		<td>xxxxx</td>
		<td>xxxxx</td>
		<td>xxxxx</td>
		<td>xxxxx</td>
	</tr>
</table>
<table>
	<tr>
		<td><span style="  text-decoration-line: underline;">Declaration</span>
		<p>We declare that this invoice shows the actual price of
the goods described and that all particulars are true
and correct.
</p>
		</td>
		<td>
			<h5>for SUPRIYA PACKERS-UNIT-II</h5>
			<br>
			<br>
			<div>Authorised Signatory</div>
		</td>
	</tr>
</table>
<p style="text-align:center;margin-top:10px">This is a Computer Generated Invoice</p>
</body>
</html>
